%footer.footer
  %small
    Created by David Philipson, 2012
  %nav
    %ul
      %li
        %a{href: "mailto:david.philipson@gmail.com"} Contact
      %li= link_to 'Circle Runner', circlerunner_path
