%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Java and Robotics', root_path, id: 'logo'
      %nav
        %ul.nav.pull-right
          %li= link_to 'Home', root_path
          %li= link_to 'Assignments', assignments_path
          %li= link_to 'Resources', resources_path
